doc/Examples/Doc/Schema/_CoSound_Object_Generic_Freetext_R001a.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
	:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	Attached to object
	
	:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
-->
<xs:schema id="CoSound.Freetext.R001a" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Freetext" type="CoSoundFreetext" />
	<xs:complexType name="CoSoundFreetext">
		<xs:sequence>			
			<xs:element name="Category" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Text" 	type="xs:string" maxOccurs="1" minOccurs="1" /> <!-- TODO ENUM -->			
		</xs:sequence>
	</xs:complexType>	
</xs:schema>
	